PRIVATE_KEY=0xYOUR_PRIVATE_KEY
ADMIN_ADDRESS=0xYOUR_MULTISIG_ADDRESS
SIGNER_ADDRESS=0xYOUR_BACKEND_SIGNER_ADDRESS
BSC_RPC_URL=https://bsc-dataseed.binance.org
BSCSCAN_API_KEY=YOUR_BSCSCAN_API_KEY
DEFAULT_ANVIL_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
